tensorflow-cpu>=2.15.0
keras>=3.13.2
numpy>=2.4.3
pandas>=3.0.1
scikit-learn>=1.8.0
scipy>=1.17.1
matplotlib>=3.10.8
h5py>=3.14.0
joblib>=1.5.3
pillow>=12.1.1
rich>=14.3.3

fastapi
uvicorn
websockets
